Output/c_algorithm/
Output/crown/
Output/tmp*
comparisons/Crown/c_algorithm/
comparisons/Crown/crown/
comparisons/Flourine/c_algorithm/
comparisons/Flourine/crown/
comparisons/Laertes/c_algorithm/
comparisons/Laertes/crown/
comparisons/Vert/c_algorithm/
comparisons/Vert/crown/
docs/
Tool/docs/
diff_test/
.github
.vscode/

Output/
benchmarks/*
!benchmarks/arraylist/
!benchmarks/arraylist/**
!benchmarks/c-algorithm/
!benchmarks/c-algorithm/**
benchmarks/c-algorithm/build/*
!benchmarks/c-algorithm/build/compile_commands.json
benchmarks/c-algorithm/src/libcalgo.so
!benchmarks/crown/
benchmarks/crown/*
!benchmarks/crown/Input/
!benchmarks/crown/Input/**
benchmarks/crown/Input/build/*
!benchmarks/crown/Input/build/compile_commands.json
benchmarks/crown/Input/output/

.cc-mini.toml
configs/config.ini
configs/*.local.ini
Tool/key
test.py

log.txt

tool_output_cache/

test_diff*/
Output*/

test_arraylist*/

cc-mini-llm*

ds2api/
ds-free-api/
MinsC2Rust_V2/

UTBotCpp/
Tool/gen_testcase/
Tool/gen_c_pbt_agent/
Tool/REFACTORING_*.md
qodo-cover/
.agent/
skills/
.codex/
.agents/

__pycache__/
*.pyc
