pytest
pytest-xdist
pydantic
chromadb==0.5.4
openai
langchain-openai
langchain-core
langchain-community
python-docx
pdfplumber
numpy>=1.24.4
pandas
requests
jsonschema
rich
pytest-repeat
fastmcp
websockets
pytest-asyncio
json-repair>=0.16.2
pyflakes
python-lsp-server
python-lsp-jsonrpc
