graphviz
pycparser
OpenAI
anthropic
tqdm
ipdb
aiohttp
httpx[socks]
prompt_toolkit
pydantic
python-dotenv
rich
tomli
clang==14.0.0
PyYAML
zhipuai
streamlit>=1.27
matplotlib
tree-sitter>=0.23.0
tree-sitter-rust>=0.21.0
pytest
